{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="icon" type="imagens/x-icon" href="{{ url_for('static', filename='imagens/blood1.png') }}">
    <title>Editar</title>
    </head>
    <body>
        <h1>Editar Usuário</h1>

        {% if erro %}
            <p style="color:red;">{{erro}}</p>
        {% endif %}
        
        <form method="POST">
            <br>
            <label for="nome">Novo nome:</label>
            <input type="text" id="nome" name="nome">
            <br>
            <label for="senha">Nova senha:</label>
            <input type="password" id="senha" name="senha">
            <br>
            <label>Perfil:</label>
            <select id="perfil" name="perfil">
                <option value="primeira" {% if usuario.perfil == 'primeira' %}selected{% endif %}>Doador de primeira vez</option>
                <option value="regular" {% if usuario.perfil == 'regular' %}selected{% endif %}>Doador regular</option>
                <option value="esporadico" {% if usuario.perfil == 'esporadico' %}selected{% endif %}>Doador esporádico</option>
                <option value="voluntario" {% if usuario.perfil == 'voluntario' %}selected{% endif %}>Doador voluntário</option>
                <option value="direcionado" {% if usuario.perfil == 'direcionado' %}selected{% endif %}>Doador direcionado</option>
            </select>
            <br>
            <label>Sexo:</label>
            <select id="sexo" name="sexo">
                <option value="feminino" {% if usuario.sexo == 'feminino' %}selected{% endif %}>Feminino</option>
                <option value="masculino" {% if usuario.sexo == 'masculino' %}selected{% endif %}>Masculino</option>
                <option value="outro" {% if usuario.sexo == 'outro' %}selected{% endif %}>Outro</option>
            </select>
            <br>
            <label>Tipo sanguíneo:</label>
            <select id="sangue" name="sangue">
                <option value="a_positivo" {% if usuario.sangue == 'a_positivo' %}selected{% endif %}>A positivo</option>
                <option value="a_negativo" {% if usuario.sangue == 'a_negativo' %}selected{% endif %}>A negativo</option>
                <option value="b_positivo" {% if usuario.sangue == 'b_positivo' %}selected{% endif %}>B positivo</option>
                <option value="b_negativo" {% if usuario.sangue == 'b_negativo' %}selected{% endif %}>B negativo</option>
                <option value="ab_positivo" {% if usuario.sangue == 'ab_positivo' %}selected{% endif %}>AB positivo</option>
                <option value="ab_negativo" {% if usuario.sangue == 'ab_negativo' %}selected{% endif %}>AB negativo</option>
                <option value="o_positivo" {% if usuario.sangue == 'o_positivo' %}selected{% endif %}>O positivo</option>
                <option value="o_negativo" {% if usuario.sangue == 'o_negativo' %}selected{% endif %}>O negativo</option>
                <option value="nao_tenho_certeza" {% if usuario.sangue == 'nao_tenho_certeza' %}selected{% endif %}>Não tenho certeza</option>
            </select>
            <br>
            <label for="idade">Idade:</label>
            <input type="number" min="1" max="120" id="idade" name="idade">
            <br>
            <label></label><input type="submit" value="Salvar alterações">
            <br>
            <br>
            <label></label><a href="{{ url_for('listar_usuarios') }}" typeclass="button">Voltar</a>
            <br>
        </form>
    </body>
</html>

{% endblock %}