{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="sylesheet" href="{{ url_for('static', filename='css/listar_usuarios.css') }}">
    <link rel="sylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <title>Lista de usuários</title>
</head>
<div id="modalConfirmacao" class="modal">
    <div class="modal-content">
        <h2>Confirmar exclusão</h2>

        <p>Tem certeza que deseja excluir este usuário?</p>

        <div style="display:flex; gap:10px; justify-content:center; margin-top:15px;">
            <button onclick="confirmarExclusao()" class="botao-excluir">
                Sim, excluir
            </button>

            <button onclick="fecharModalConfirmacao()" class="btn">
                Cancelar
            </button>
        </div>
    </div>
</div>

<!-- <button id="abrirModal">Abrir Modal</button>

<div id="meuModal" class="modal1">

    <div class="conteudoModal">

        <span class="close1">&times;</span>
        <p>Teste</p>

    </div>

</div> -->

<body>
    <h1>Usuários cadastrados no sistema</h1>
    <div class="button">
        <a href="{{ url_for('novo_usuario') }}" typeclass="button">Novo usuário</a>
        <a href="{{ url_for('exportar_excel') }}" class="btn btn-excel">Exportar Excel</a>
        <a href="{{ url_for('exportar_pdf') }}" class="btn btn-pdf">Exportar Pdf</a>
    </div>
    <br>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Perfil</th>
                <th>Sexo</th>
                <th>Sangue</th>
                <th>Idade</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for u in usuarios %}
            <tr>
                <td> {{ u.id }} </td>
                <td> {{ u.nome }} </td>
                <td> {{ u.usuario }} </td>
                <td> {{ u.perfil }} </td>
                <td> {{ u.sexo }} </td>
                <td> {{ u.sangue }} </td>
                <td> {{ u.idade }} </td>
                <td>
                    <a href="{{ url_for('editar_usuario', usuario_id=u.id) }}" typeclass="button">Editar</a>

                    {% if session['usuario_id'] != u.id %}
                    
                    <form id="formExcluir{{ u.id }}" method="POST" action="{{ url_for('excluir_usuario', usuario_id=u.id) }}" style="display: inline; margin: 0; padding: 0;">
                        <button type="button" class="botao-excluir" onclick="abrirConfirmacao('{{ u.id }}')">Excluir</button>
                    </form>
                    
                    {% endif %}

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="{{ url_for('static', filename='js/admin_usuarios.js') }}"></script>
    
    <!-- <script src="{{ url_for('static', filename='js/teste.js') }}"></script> -->
    
</body>
</html>
{% endblock %}