/* input.botao-excluir {
    background-color: red;
    color: #fff;
    padding: 10px 20px;     
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    line-height: 1;          
    box-sizing: border-box;
} */

/* .modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
} */

/* .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
} */

/* .modal-content h2 {
    margin-bottom: 10px;
    color: #d9534f;
}

.modal-content button {
    margin-top: 15px;
    padding: 8px 15px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content button:hover {
    background: #007bff;
} */

/* input.botao-excluir,
button.botao-excluir {
    background-color: red;
    color: #fff;
    padding: 10px 20px;     
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    line-height: 1;          
    box-sizing: border-box;   
} */

/* input.botao-excluir:hover, button.botao-excluir:hover {
    background-color: red
} */

/* a.botao-acao {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 7px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    margin-right: 5px;
} */

/* .btn {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: center;
    cursor: pointer;
    font-size: 16px;
} */