.modal {
    display: none;
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

.modelContent {
    background-color: aliceblue;
    margin: 15% auto;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modalContent h2 {
    margin-bottom: 10px;
    color: crimson;
}

.modalContent button {
    margin-top: 15px;
    padding: 8px 15px;
    border: none;
    background: #3d39ff;
    color:azure;
    border-radius: 5px;
    cursor: pointer;
}

.modalContent button:hover {
    background: blue;
}

input.botaoAbrirConfirmacao, button.botaoFecharConfirmacao {
    background-color: tomato;
    color: aliceblue;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    line-height: 1;
    box-sizing: border-box;
}

input.botaoAbrirConfirmacao:hover, button.botaoFecharConfirmacao:hover {
    background-color: red;
}
