<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pagina_inicial.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.0"></script>
    <title>Pagina inicial</title>
</head>

<body>

    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <div class="icone">
                        <span class="navbar-toggler-icon"></span>
                    </div>
                    </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">   
                    <ul class="lista">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/">Home</a>
                        </li>
                    </ul>
                    {% if session.get('perfil_logado') == 'admin' %}
                        <ul class="lista">
                            <li class="nav-item">
                                <a class="nav-link text-white" href="{{ url_for('listar_usuarios') }}">Gerenciar usuários</a>
                            </li>
                        </ul>
                        <ul class="lista">
                            <li class="nav-item text-white">
                                <a class="nav-link text-white" href="{{ url_for('js_dashboard')}}">Dashboards</a>
                            </li>
                        </ul>
                    {% endif %}
                
                    <ul class="lista">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#"  data-bs-toggle="dropdown">Hemocentros no RS</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="https://saude.rs.gov.br/hemocentro-do-estado-do-rio-grande-do-sul">HEMORGS - Hemocentro do Estado do Rio Grande do Sul</a></li>
                                <li><a class="dropdown-item" href="https://saude.rs.gov.br/hemopasso">HEMOPASSO - Hemocentro Regional de Passo Fundo</a></li>
                                <li><a class="dropdown-item" href="https://saude.rs.gov.br/hemopel">HEMOPEL - Hemocentro Regional de Pelotas</a></li>
                                <li><a class="dropdown-item" href="https://saude.rs.gov.br/hemosm">HEMOSM - Hemocentro Regional de Santa Maria</a></li>
                                <li><a class="dropdown-item" href="https://saude.rs.gov.br/hemocentro-regional-de-cruz-alta">HEMOCRUZ - Hemocentro Regional de Cruz Alta</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="lista">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/logout">Sair</a>
                        </li>
                    </ul>
                </div>                
            </ul>
        </div>
    </nav>

    <div class="carousel">
    <button class="prev">‹</button>

    <div class="carousel-track">
        <a class="slide" href="{{ url_for('cbasico1') }}">
            <img title="Profissional da saúde orientando um doador de sangue" alt="Homem doando sangue" src="/static/imagens/doando.jpg">
        </a>
        <a class="slide" href="{{ url_for('agendamento') }}">
            <img title="Pessoa utilizando seu telefone" alt="Pessoa mexendo no celular" src="/static/imagens/AgendamentoOnline.png">
        </a>
        <a class="slide" href="{{ url_for('news') }}">
            <img class="imgNews" title="Pessoa checando notícias em seu telefone" alt="Homem cartunesco segurando celular com várias notícias sem nada escrito atrás dele" src="/static/imagens/BloodyNews.png">
        </a>
    </div>

    <button class="next">›</button>

    <div class="dots"></div>
</div>
<link rel="stylesheet" href="{{ url_for('static', filename='css/carousel.css') }}">
<script src="{{ url_for('static', filename='js/carrossel.js') }}"></script>


    <section class="mt-5 text-center">

    <h1>Seja bem vindo(a)!</h1>

    <br>

    
    <br>

    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="container-cards">
                    <button class="btn queroDoar">
                        <a href="{{ url_for('cbasico1') }}" class="card-link">Quero Doar Sangue</a>
                    </button>
                    <br>
                    <button class="btn align-items-center">
                        <a href="{{ url_for('impedimentos_temp') }}" class="card-link">Impedimentos temporários</a>
                    </button>
                    <br>
                    <button class="btn align-items-end">
                        <a href="{{ url_for('impedimentos_def') }}" class="card-link">Impedimentos definitivos</a>
                    </button>
                    <br>
                </div>
            </div>
        </div>    
    </div>

    <br>

    <canvas id="estoqueSangue" style="width: 80%"></canvas>

    <div class="divGrafico">
        <script>
            const tipoSangue = ["A+", "A-", "B+", "B-", "O+", "O-", "AB+", "AB-"];
            const litros = [65, 20, 48, 8, 72, 14, 83, 31];
            const barColors = ["red"];

            const ctx = document.getElementById('estoqueSangue');

            new Chart(ctx, {
                type: "bar",
                data: {
                    labels: tipoSangue,
                    datasets: [{
                        backgroundColor: barColors,
                        data: litros
                    }]
                },
                options: {
                    plugins: {
                        legend: {display: false},
                        title: {
                            display: true,
                            text: "Estoque de Sangue",
                            font: {size: 16}
                        }
                    }
                }
            });
        </script>
    </div>

    <br>

</body>

</html>