body {
    background-color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 2.0;
    display: block;
    width: 100%;
}

h1 {
    color: red;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
}

form {
    background-color: transparent;
    width: 100%;
    box-shadow: 0 0 10px rgb(255, 100, 100);
    text-align: center;
    /* align-items: center; */
    display: block;
    justify-content: center;
}

fieldset {
    border: 2px solid crimson;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 15px;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    color: #ff8800;
}

label {
    display: block;
    text-align: center;
    align-items: center;
    place-items: center;
}

.input[name="usuario"], .input[name="senha"] {
    width: 40%;
    align-items: center;
    justify-content: right;
    display: flex;

}

input[type="submit"] {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

a {
    background-color: red;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

button {
    background-color: red;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.content {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

pre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divUser {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divPassword {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divCadastrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tablet */
@media (min-width: 768px) {
    body {
        font-size: 25px;
    }
}

/* Notebook */
@media (min-width: 1024px) {
    body {
        font-size: 35px;
    }
}