body {
    background-color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 2.0;
    display: block;
}

h1 {
    color: red;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
}

/* .divGif {
    
} */

form {
    background-color: transparent;
    box-shadow: 0 0 10px rgb(255, 100, 100);
    text-align: center;
    align-items: center; 
    display: block;
    justify-content: center;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    color: #ff8800;
}

.divLabel {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    display: block;
    text-align: center;
    align-items: center;
    place-items: center;
}

.input[name="usuario"], .input[name="senha"] {
    align-items: center;
    justify-content: right;
    display: flex;
}

.btn-entrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-entrar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

input[type="submit"] {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: block;
    padding: 10px 15px;
}

.content {
    align-items: center;
    display: flex;
    justify-content: center;
}

.divUser {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divPassword {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divCadastrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    background-color: red;
    font-size: 16px;
    color: white;
    cursor: pointer;
    padding: 10px 10px;
}

/* Tablet */
@media (min-width: 768px) {
    body {
        font-size: 25px;
    }
}

/* Notebook */
@media (min-width: 1024px) {
    body {
        font-size: 35px;
    }
}