.card {
    position: relative;
    width: 200px;
    height: 90px;
    background-color: red;
    display:inline-flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
}

/* .container {
    display:flex;
} */

.card-link {
    position: fill-div;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.container-cards {
    display: flex;
    gap: 16px;
    font-display: auto;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    font-size: 15px;
}


/* Tablet */
@media (min-width: 768px) {
    body {
        /* background-color: aquamarine; */
        font-size: 25px;
    }
}

/* Notebook */
@media (min-width: 1024px) {
    body {
        font-size: 35px;
    }
}