<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/teste.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/listar_usuarios.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.0"></script>
    <title>Lista de usuários</title>
</head>

<!-- <div id="modalConfirmacao" class="modal">
    <div class="modalContent">
        <h2>Confirmar exclusão</h2>

        <p>Tem certeza que deseja excluir este usuário?</p>

        <div style="display:flex; gap:10px; justify-content:center; margin-top:15px;">
            <button onclick="confirmarExclusao()" class="botaoAbrirConfirmacao">
                Sim, excluir
            </button>

            <button onclick="fecharModalConfirmacao()" class="botaoFecharConfirmacao">
                Cancelar
            </button>
        </div>
    </div>
</div> -->

<body>

    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <div class="icone">
                        <span class="navbar-toggler-icon"></span>
                    </div>
                    </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">   
                    <ul class="lista">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/">Home</a>
                        </li>
                    </ul>
                    {% if session.get('perfil_logado') == 'admin' %}
                        <ul class="lista">
                            <li class="nav-item">
                                <a class="nav-link text-white" href="{{ url_for('listar_usuarios') }}">Gerenciar usuários</a>
                            </li>
                        </ul>
                        <ul class="lista">
                            <li class="nav-item text-white">
                                <a class="nav-link text-white" href="{{ url_for('js_dashboard')}}">Dashboards</a>
                            </li>
                        </ul>
                    {% endif %}
                
                    <ul class="lista">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#"  data-bs-toggle="dropdown">Hemocentros no RS</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="https://saude.rs.gov.br/hemocentro-do-estado-do-rio-grande-do-sul">HEMORGS - Hemocentro do Estado do Rio Grande do Sul</a></li>
                                <li><a class="dropdown-item" href="https://saude.rs.gov.br/hemopasso">HEMOPASSO - Hemocentro Regional de Passo Fundo</a></li>
                                <li><a class="dropdown-item" href="https://saude.rs.gov.br/hemopel">HEMOPEL - Hemocentro Regional de Pelotas</a></li>
                                <li><a class="dropdown-item" href="https://saude.rs.gov.br/hemosm">HEMOSM - Hemocentro Regional de Santa Maria</a></li>
                                <li><a class="dropdown-item" href="https://saude.rs.gov.br/hemocentro-regional-de-cruz-alta">HEMOCRUZ - Hemocentro Regional de Cruz Alta</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="lista">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/logout">Sair</a>
                        </li>
                    </ul>
                </div>                
            </ul>
        </div>
    </nav>

    <h1>Usuários cadastrados no sistema</h1>
    
    <div class="botoes">
        <div class="botao-newuser">
            <a href="{{ url_for('novo_usuario') }}" class="btn btn-info text-white">Novo usuário</a>
        </div>
        <br>
        <div class="botao-excel">
            <a href="{{ url_for('exportar_excel') }}" class="btn btn-info text-white">Exportar Excel</a>
        </div>
        <br>
        <div class="botao-pdf">
            <a href="{{ url_for('exportar_pdf') }}" class="btn btn-info text-white">Exportar Pdf</a>
        </div>
    </div>
    <br>
    <div class="divTable">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Perfil</th>
                    <th>Sexo</th>
                    <th>Sangue</th>
                    <th>Idade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for u in usuarios %}
                <tr>
                    <td> {{ u.nome }} </td>
                    <td> {{ u.usuario }} </td>
                    <td> {{ u.perfil }} </td>
                    <td> {{ u.sexo }} </td>
                    <td> {{ u.sangue }} </td>
                    <td> {{ u.idade }} </td>
                    <td>
                    
                        <a href="{{ url_for('editar_usuario', usuario_id=u.id) }}" class="btn btn-success text-white" typeclass="button" id="editar">Editar</a>
                        
                        <form id="formExcluir-{{ u.id }}" method="POST" action="{{ url_for('excluir_usuario', usuario_id=u.id) }}" style="display: inline; margin: 0; padding: 0;">
                            <button type="button" class="btn btn-danger" onclick="abrirConfirmacao('{{ u.id }}')">Excluir</button>
                        </form>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    
</body>
</html>
