<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="imagens/x-icon" href="{{ url_for('static', filename='imagens/blood1.png') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Login</title>
    </head>
    <body>
        
        <h1>Login</h1>

        <div class="content">
            {% if erro %}
                <p style="color:red;">{{erro}}</p>
            {% endif %}
            <pre>
                <form action="{{url_for('entrar')}}" method="POST">
                    <label class="usuario" for="usuario">Email:</label>
                    <div class="divUser">
                        <input type="text" id="usuario" name="usuario" required>
                    </div>
                    <label for="senha">Senha:</label>
                    <div class="divPassword">
                        <input type="password" id="senha" name="senha" required>
                    </div>
                    <div class="divSubmit">
                        <input type="submit" value="Entrar">
                    </div>
                    <div class="divCadastrar">
                        <a href="{{ url_for('cadastro') }}">Registra-te já!</a>
                    </div>
                </form>
            </pre>
        </div>
    </body>
</html>