<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="imagens/x-icon" href="{{ url_for('static', filename='imagens/blood1.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
        <title>DoeVida</title>
    </head>
    <body>
        
        <div class="content">
            {% if erro %}
                <p style="color:red;">{{erro}}</p>
            {% endif %}

            <form action="{{url_for('entrar')}}" method="POST">
                <div class="divGif">
                    <div class="tenor-gif-embed" data-postid="8052644951978720878" data-share-method="host" data-aspect-ratio="1.04032" data-width="100%"><a href="https://tenor.com/view/heart-spinning-red-pink-metal-gif-8052644951978720878">Heart Spinning Sticker</a>from <a href="https://tenor.com/search/heart-stickers">Heart Stickers</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
                </div>
                <h1 style="color: black;">Doe Vida</h1>
                <div class="divLabelUser">
                    <div class="divLabel">
                        <label class="usuario" for="usuario">Email:</label>
                    </div>
                    <div class="divUser">
                        <input type="text" id="usuario" name="usuario" required>
                    </div>
                </div>
                <div class="divLabelPassword">
                    <div class="divLabel">
                        <label for="senha">Senha:</label>
                    </div>
                    <div class="divPassword">
                        <input type="password" id="senha" name="senha" required>
                    </div>
                </div>
                <br>
                <div class="btn-entrar">
                    <button class="botao-entrar" style="width: 100%;">
                        <input type="submit" value="Entrar">
                    </button>
                </div>
                <br>
                <div class="divCadastrar">
                    <a href="{{ url_for('cadastro') }}" style="text-decoration: none; background-color: red; width: 100%; text-align: center;">Registra-te já!</a>
                </div>
                <br>
            </form>
        </div>
    </body>
</html>